.nutri-container {
    background-color: var(--light-grey);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    width: calc(100% - 40px);
}

.nutri-icon-container {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 15px;
    border-radius: 6px;
}

.nutri-icon-container > img {
    position: absolute;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.Calories {
    background-color: var(--light-red);
}

.Proteines {
    background-color: var(--light-blue);
}

.Glucides {
    background-color:  var(--light-yellow);
}

.Lipides {
    background-color: var(--light-pink);
}

.nutri-score {
    font-weight: 700;
    font-size: 1.6rem;
    margin: 5px 0;
}

.nutri-name {
    font-size: 1.3rem;
    margin: 5px 0;
}