:root {
  font-size: 10px;
  --main: #E60000;
  --dark: #020203;
  --grey:  #282D30;
  --light-grey: #fbfbfb;
  --light-red: #FBEAEA;
  --light-blue: #E9F4FB;
  --light-yellow: #FAF6E5;
  --light-pink: #FBEAEF;
}

#root {
  height: 100%;
}

html, body {
  height: 100%;
}

.root-container {
  height: 100%;
}

.page-container {
  height: calc(100% - 90px);
  display: flex;
  flex-direction: row;
  align-items: stretch;
}